body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u1616 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:10px;
  width:100px;
  height:100px;
  display:flex;
}
#u1616 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1616_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Medium', 'PingFang TC Medium', 'PingFang TC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
}
#u1617 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:103px;
  width:145px;
  height:25px;
  display:flex;
  font-family:'PingFangTC-Medium', 'PingFang TC Medium', 'PingFang TC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
}
#u1617 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1617_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1618_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1618 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:138px;
  width:360px;
  height:36px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1618 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1618_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
  background:inherit;
  background-color:rgba(68, 159, 189, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1619 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:195px;
  width:126px;
  height:30px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1619 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1619_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1620_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(68, 159, 189, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#449FBD;
}
#u1620 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:195px;
  width:126px;
  height:30px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#449FBD;
}
#u1620 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1620_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
