body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:65px;
  width:27px;
  height:18px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
#u67 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:18px;
  padding:2px 2px 2px 2px;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u68_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:18px;
  padding:2px 2px 2px 2px;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u68_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:65px;
  width:98px;
  height:18px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
}
#u68 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:18px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
}
#u68.disabled {
}
#u69_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:29px;
  width:37px;
  height:25px;
  display:flex;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u69 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u69_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u70_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:111px;
  width:145px;
  height:25px;
  display:flex;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u70 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u70_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u71_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:160px;
  width:27px;
  height:18px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
#u71 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u71_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u72_input {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:18px;
  padding:2px 2px 2px 2px;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:18px;
  padding:2px 2px 2px 2px;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u72_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:160px;
  width:98px;
  height:18px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
}
#u72 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:18px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
}
#u72.disabled {
}
#u73_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:65px;
  padding:2px 2px 2px 2px;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u73_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:65px;
  padding:2px 2px 2px 2px;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u73_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:198px;
  width:160px;
  height:65px;
  display:flex;
}
#u73 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:65px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73.disabled {
}
.u73_input_option {
  font-weight:400;
  font-style:normal;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:183px;
  width:160px;
  height:16px;
  display:flex;
  font-family:'PingFangTC-Medium', 'PingFang TC Medium', 'PingFang TC', sans-serif;
  font-weight:500;
  font-style:normal;
  text-align:left;
}
#u74 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u74_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u75_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:287px;
  width:145px;
  height:25px;
  display:flex;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u75 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u75_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u76_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:335px;
  width:27px;
  height:18px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
#u76 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u76_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u77_input {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:18px;
  padding:2px 2px 2px 2px;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u77_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:18px;
  padding:2px 2px 2px 2px;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u77_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:335px;
  width:98px;
  height:18px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u77 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:18px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u77.disabled {
}
#u78_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:378px;
  width:232px;
  height:25px;
  display:flex;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u78 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u79_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:421px;
  width:27px;
  height:18px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
#u79 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u79_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u80_input {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:18px;
  padding:2px 2px 2px 2px;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u80_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:18px;
  padding:2px 2px 2px 2px;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u80_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:421px;
  width:98px;
  height:18px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
}
#u80 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u80_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:18px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
}
#u80.disabled {
}
#u81 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:18px;
  background:inherit;
  background-color:rgba(68, 159, 189, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:421px;
  width:94px;
  height:18px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u82 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 4px;
  box-sizing:border-box;
  width:100%;
}
#u82_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:425px;
  width:10px;
  height:10px;
  display:flex;
  opacity:0.72;
}
#u83 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u83_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:473px;
  width:253px;
  height:25px;
  display:flex;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u84 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u84_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u85_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:515px;
  width:27px;
  height:18px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
#u85 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u85_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u86_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:65px;
  padding:2px 2px 2px 2px;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u86_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:65px;
  padding:2px 2px 2px 2px;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u86_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:586px;
  width:160px;
  height:65px;
  display:flex;
}
#u86 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u86_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:65px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u86.disabled {
}
.u86_input_option {
  font-weight:400;
  font-style:normal;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:571px;
  width:160px;
  height:16px;
  display:flex;
  font-family:'PingFangTC-Medium', 'PingFang TC Medium', 'PingFang TC', sans-serif;
  font-weight:500;
  font-style:normal;
  text-align:left;
}
#u87 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u87_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u88_input {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:18px;
  padding:2px 2px 2px 2px;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u88_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:18px;
  padding:2px 2px 2px 2px;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:515px;
  width:98px;
  height:18px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
}
#u88 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u88_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:18px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
}
#u88.disabled {
}
#u89 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u90_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:18px;
  background:inherit;
  background-color:rgba(68, 159, 189, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:515px;
  width:94px;
  height:18px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u90 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 4px;
  box-sizing:border-box;
  width:100%;
}
#u90_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:519px;
  width:10px;
  height:10px;
  display:flex;
  opacity:0.72;
}
#u91 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u91_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:541px;
  width:160px;
  height:16px;
  display:flex;
  font-family:'PingFangTC-Medium', 'PingFang TC Medium', 'PingFang TC', sans-serif;
  font-weight:500;
  font-style:normal;
  text-align:left;
}
#u92 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u92_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:556px;
  width:160px;
  height:16px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u93 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u93_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u94_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:160px;
  width:27px;
  height:18px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
#u94 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u94_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u95_input {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:18px;
  padding:2px 2px 2px 2px;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u95_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:18px;
  padding:2px 2px 2px 2px;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u95_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:160px;
  width:98px;
  height:18px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
}
#u95 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u95_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:18px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
}
#u95.disabled {
}
#u96_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:65px;
  padding:2px 2px 2px 2px;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u96_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:65px;
  padding:2px 2px 2px 2px;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u96_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:198px;
  width:160px;
  height:65px;
  display:flex;
}
#u96 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u96_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:65px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u96.disabled {
}
.u96_input_option {
  font-weight:400;
  font-style:normal;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:183px;
  width:160px;
  height:16px;
  display:flex;
  font-family:'PingFangTC-Medium', 'PingFang TC Medium', 'PingFang TC', sans-serif;
  font-weight:500;
  font-style:normal;
  text-align:left;
}
#u97 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
