body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u939_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
  background:inherit;
  background-color:rgba(14, 49, 71, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u939 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
  display:flex;
}
#u939 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u939_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u940 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:15px;
  width:28px;
  height:20px;
  display:flex;
  color:#F2F2F2;
}
#u940 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u940_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u941_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#EFEFEF;
}
#u941 {
  border-width:0px;
  position:absolute;
  left:1121px;
  top:18px;
  width:63px;
  height:17px;
  display:flex;
  font-size:15px;
  color:#EFEFEF;
}
#u941 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u941_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u942 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u943_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:3px 3px 3px rgba(238, 238, 238, 0.349019607843137);
  -webkit-box-shadow:3px 3px 3px rgba(238, 238, 238, 0.349019607843137);
  box-shadow:3px 3px 3px rgba(238, 238, 238, 0.349019607843137);
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u943 {
  border-width:0px;
  position:absolute;
  left:1101px;
  top:50px;
  width:98px;
  height:40px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u943 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u943_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:40px;
  background:inherit;
  background-color:rgba(239, 245, 253, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:3px 3px 3px rgba(238, 238, 238, 0.349019607843137);
  -webkit-box-shadow:3px 3px 3px rgba(238, 238, 238, 0.349019607843137);
  box-shadow:3px 3px 3px rgba(238, 238, 238, 0.349019607843137);
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u943.mouseOver {
}
#u943_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u944_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-radius:0px;
  -moz-box-shadow:3px 3px 3px rgba(238, 238, 238, 0.349019607843137);
  -webkit-box-shadow:3px 3px 3px rgba(238, 238, 238, 0.349019607843137);
  box-shadow:3px 3px 3px rgba(238, 238, 238, 0.349019607843137);
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u944 {
  border-width:0px;
  position:absolute;
  left:1101px;
  top:90px;
  width:98px;
  height:40px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u944 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u944_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u945_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#D7D7D7;
}
#u945 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:14px;
  width:133px;
  height:25px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#D7D7D7;
}
#u945 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u945_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u947_input {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u947_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u947_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u947 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:11px;
  width:124px;
  height:30px;
  display:flex;
  font-size:15px;
  color:#FFFFFF;
}
#u947 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u947_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u947.disabled {
}
.u947_input_option {
  font-size:15px;
}
#u948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u948 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:9px;
  width:26px;
  height:30px;
  display:flex;
}
#u948 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u948_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u949 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:8px;
  width:20px;
  height:20px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
}
#u949 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u949_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u950 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:182px;
  height:641px;
}
#u950_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:641px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  border:none;
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:3px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 0px 3px rgba(0, 0, 0, 0.349019607843137);
}
#u950_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:641px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:3px 0px 3px rgba(127, 127, 127, 0.349019607843137);
  -webkit-box-shadow:3px 0px 3px rgba(127, 127, 127, 0.349019607843137);
  box-shadow:3px 0px 3px rgba(127, 127, 127, 0.349019607843137);
}
#u951 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:641px;
  display:flex;
}
#u951 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u951_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u952 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:182px;
  height:36px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u954 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 35px;
  box-sizing:border-box;
  width:100%;
}
#u954_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u955_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:15px;
  height:9px;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:51px;
  width:12px;
  height:6px;
  display:flex;
  font-size:15px;
}
#u955 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u955_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:45px;
  width:18px;
  height:18px;
  display:flex;
  font-size:15px;
}
#u956 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u956_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:36px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u958 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 35px;
  box-sizing:border-box;
  width:100%;
}
#u958_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:9px;
  width:18px;
  height:18px;
  display:flex;
}
#u959 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u959_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:182px;
  height:36px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u960 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 35px;
  box-sizing:border-box;
  width:100%;
}
#u960_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:108px;
  width:182px;
  height:36px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u961 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 35px;
  box-sizing:border-box;
  width:100%;
}
#u961_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:143px;
  width:182px;
  height:36px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u965 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 35px;
  box-sizing:border-box;
  width:100%;
}
#u965_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u966_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:15px;
  height:9px;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:158px;
  width:12px;
  height:6px;
  display:flex;
  font-size:15px;
}
#u966 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u966_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u967_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:21px;
  height:21px;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:152px;
  width:18px;
  height:18px;
  display:flex;
  font-size:15px;
}
#u967 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u967_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u968_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u968 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:251px;
  width:182px;
  height:36px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u968 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 35px;
  box-sizing:border-box;
  width:100%;
}
#u968_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:36px;
  background:inherit;
  background-color:rgba(22, 155, 213, 0.298039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u968.selected {
}
#u968_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:179px;
  width:182px;
  height:36px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u969 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 35px;
  box-sizing:border-box;
  width:100%;
}
#u969_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:287px;
  width:182px;
  height:36px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u971 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 35px;
  box-sizing:border-box;
  width:100%;
}
#u971_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:14px;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:298px;
  width:18px;
  height:14px;
  display:flex;
  font-size:15px;
}
#u972 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u972_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:14px;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:370px;
  width:18px;
  height:14px;
  display:flex;
  font-size:15px;
}
#u974 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u974_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u975 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:359px;
  width:182px;
  height:36px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u975 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 35px;
  box-sizing:border-box;
  width:100%;
}
#u975_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u976_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u976 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:215px;
  width:182px;
  height:36px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u976 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 35px;
  box-sizing:border-box;
  width:100%;
}
#u976_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u977 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:334px;
  width:16px;
  height:14px;
  display:flex;
}
#u978 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u978_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:323px;
  width:182px;
  height:36px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u979 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 35px;
  box-sizing:border-box;
  width:100%;
}
#u979_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:999px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Medium', 'PingFang TC Medium', 'PingFang TC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:50px;
  width:999px;
  height:40px;
  display:flex;
  font-family:'PingFangTC-Medium', 'PingFang TC Medium', 'PingFang TC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
}
#u980 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u980_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:30px;
  background:inherit;
  background-color:rgba(239, 245, 253, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-radius:0px;
  -moz-box-shadow:3px 3px 3px rgba(238, 238, 238, 1);
  -webkit-box-shadow:3px 3px 3px rgba(238, 238, 238, 1);
  box-shadow:3px 3px 3px rgba(238, 238, 238, 1);
  font-family:'PingFangTC-Medium', 'PingFang TC Medium', 'PingFang TC', sans-serif;
  font-weight:500;
  font-style:normal;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:889px;
  top:50px;
  width:212px;
  height:30px;
  display:flex;
  font-family:'PingFangTC-Medium', 'PingFang TC Medium', 'PingFang TC', sans-serif;
  font-weight:500;
  font-style:normal;
}
#u982 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u982_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:3px 3px 3px rgba(238, 238, 238, 1);
  -webkit-box-shadow:3px 3px 3px rgba(238, 238, 238, 1);
  box-shadow:3px 3px 3px rgba(238, 238, 238, 1);
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:889px;
  top:80px;
  width:212px;
  height:30px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u983 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u983_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u984_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:3px 3px 3px rgba(238, 238, 238, 1);
  -webkit-box-shadow:3px 3px 3px rgba(238, 238, 238, 1);
  box-shadow:3px 3px 3px rgba(238, 238, 238, 1);
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:889px;
  top:109px;
  width:212px;
  height:30px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u984 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u984_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u986_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:36px;
  background:inherit;
  background-color:rgba(68, 159, 189, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:157px;
  width:182px;
  height:36px;
  display:flex;
  opacity:0.2;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u986 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 35px;
  box-sizing:border-box;
  width:100%;
}
#u986_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:64px;
  width:8px;
  height:15px;
  display:flex;
}
#u987 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u987_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(143, 201, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Medium', 'PingFang TC Medium', 'PingFang TC', sans-serif;
  font-weight:500;
  font-style:normal;
  text-align:left;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:145px;
  width:200px;
  height:30px;
  display:flex;
  font-family:'PingFangTC-Medium', 'PingFang TC Medium', 'PingFang TC', sans-serif;
  font-weight:500;
  font-style:normal;
  text-align:left;
}
#u989 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u989_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(143, 201, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Medium', 'PingFang TC Medium', 'PingFang TC', sans-serif;
  font-weight:500;
  font-style:normal;
  text-align:left;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:145px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangTC-Medium', 'PingFang TC Medium', 'PingFang TC', sans-serif;
  font-weight:500;
  font-style:normal;
  text-align:left;
}
#u990 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u990_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u992 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  display:flex;
  text-align:left;
}
.u993 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
.u993_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(239, 245, 253, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u993.mouseOver {
}
.u993_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial', sans-serif;
  font-weight:400;
  font-style:italic;
  color:#AAAAAA;
  text-align:left;
}
.u994 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial', sans-serif;
  font-weight:400;
  font-style:italic;
  color:#AAAAAA;
  text-align:left;
}
.u994 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u994_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(239, 245, 253, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial', sans-serif;
  font-weight:400;
  font-style:italic;
  color:#AAAAAA;
  text-align:left;
}
.u994.mouseOver {
}
.u994_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u991-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u991-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:300px;
  height:30px;
}
#u991-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:300px;
  height:30px;
}
#u991-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:300px;
  height:30px;
}
#u991-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:300px;
  height:30px;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:175px;
  width:300px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(143, 201, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Medium', 'PingFang TC Medium', 'PingFang TC', sans-serif;
  font-weight:500;
  font-style:normal;
  text-align:left;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:145px;
  width:150px;
  height:30px;
  display:flex;
  font-family:'PingFangTC-Medium', 'PingFang TC Medium', 'PingFang TC', sans-serif;
  font-weight:500;
  font-style:normal;
  text-align:left;
}
#u996 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u996_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(143, 201, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Medium', 'PingFang TC Medium', 'PingFang TC', sans-serif;
  font-weight:500;
  font-style:normal;
  text-align:left;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:145px;
  width:150px;
  height:30px;
  display:flex;
  font-family:'PingFangTC-Medium', 'PingFang TC Medium', 'PingFang TC', sans-serif;
  font-weight:500;
  font-style:normal;
  text-align:left;
}
#u997 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u997_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u1000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u1000 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
  display:flex;
  text-align:left;
}
.u1000 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
.u1000_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
  background:inherit;
  background-color:rgba(239, 245, 253, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u1000.mouseOver {
}
.u1000_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u1001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial', sans-serif;
  font-weight:400;
  font-style:italic;
  color:#AAAAAA;
  text-align:left;
}
.u1001 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:0px;
  width:116px;
  height:30px;
  display:flex;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial', sans-serif;
  font-weight:400;
  font-style:italic;
  color:#AAAAAA;
  text-align:left;
}
.u1001 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u1001_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
  background:inherit;
  background-color:rgba(239, 245, 253, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial', sans-serif;
  font-weight:400;
  font-style:italic;
  color:#AAAAAA;
  text-align:left;
}
.u1001.mouseOver {
}
.u1001_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u998-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u998-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:300px;
  height:30px;
}
#u998-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:300px;
  height:30px;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:175px;
  width:300px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1002 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:191px;
  width:0px;
  height:0px;
}
#u1002_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:49px;
  height:10px;
}
#u1002_seg1 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:-5px;
  width:10px;
  height:41px;
}
#u1002_seg2 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:26px;
  width:34px;
  height:10px;
}
#u1002_text {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:0px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1004_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:977px;
  height:32px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1004 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:99px;
  width:977px;
  height:32px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1004 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u1004_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1005 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:108px;
  width:15px;
  height:15px;
  display:flex;
}
#u1005 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1005_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
